<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="erpurl" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="500">
			<label>ERP Settings</label>
            <tab>sales</tab>
            <resource>Sundial_ERP::erp_configuration</resource>
            <group id="erpconfiguration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ERP URL Settings</label>
                <field id="url" translate="url comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>ERP URL</label>
					 <comment>Please enter the erp end point url.</comment>
                </field>
            </group>
		</section>
    </system>
</config>
